.ipad {
	color: #fff;
	text-align: center;
	font-family: 'SF Pro Display', Helvetica Neue, Arial, sans-serif;
	letter-spacing: -.022em;
	font-size: 2.5vmin;
	text-shadow: 0 0 0.5em #000;
	background-color: #000;
	background-size: auto 200%, cover;
	background-repeat: no-repeat, no-repeat;
	border: solid #111;
	margin-bottom: 2em;
	box-shadow: 0 0.5em 2em 0.2em rgba(0, 0, 0, 0.33), 0 0 0 0.5px #000 inset;
	transition: all .1s linear, line-height 0s linear;
	background-position: 50% 100%, center;
	transform-origin: bottom center;
	&:hover {
		color: transparent;
		text-shadow: 0 0 0em transparent;
		background-position: 50% -100%, center center;
		transition: all .15s linear, line-height 5s linear;
		line-height: 0vmin;
	}
}

.ipad {
	$unit: 50vmin; 
	margin-left: 2em;
	height: 1.43*$unit;
	width: $unit;
	line-height: 1.43*$unit;
	border-width: $unit/20;
	border-radius: $unit/14;
	background-image:  linear-gradient(rgba(0,0,0,0), #111), url(https://www.apple.com/v/ipad-pro/s/images/overview/retina_screen_1__csuokryyjb42_large.jpg);
	z-index: 99;
}