@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.myClubsGrid {
  display:grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 10px;
  column-gap: 10px;
  width: 100%;
  }

.card{
  width: 100%;
  height: 325px;
  background: #232323;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  }

.card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  clip-path: circle(120px at 75% 0%);
  transition: 0.5s ease-in-out;
}

.card:hover:before{
  clip-path: circle(200px at 70% -20%);
}

 .card:after{
  content: 'Bloc';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

 .card .imgBx{
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 150px;
  transition: 0.5s;
}

 .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

 .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 125px;
}

 .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: .3s;
  z-index: 10;
}

 .card:hover .contentBx{
  height: 175px;
}

 .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

 .card .contentBx .size, .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

 .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.3s;
}

 .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.3s;
}

 .card .contentBx .size h3,  .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

 .card .contentBx .size div,  .card .contentBx .color div{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

 .card .contentBx .button{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
  z-index: 100;
}

 .card:hover .contentBx .button{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.5s;
  
}

.recoClubs{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 10px;
  width: 100%;
}

.recoClub{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 40px;
}
