.search-container{
  width: 461px;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #000;
    transition: 0.35s ease;
    color: #000;
    &::-webkit-input-placeholder{
      transition: opacity 0.25s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.25s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.25s ease; 
  	 opacity: 0;
     }    
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -60px;
  right: -10px;
}

.list-group{
  list-style: none;
}

.list-group-item{
  padding: 6px 20px;
  /*border-bottom: 1px solid black;
  border-left: 1px solid black;*/
}

